name: Publish

on:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name }}
      - uses: ./.github/actions/prepare
      - name: Use npm for OIDC
        run: npm install -g npm@11.5.2
      - run: pnpm build
      - name: Publish to npm
        run: pnpm publish --provenance --access public --no-git-checks
