name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.ACCESS_TOKEN }}
      - uses: ./.github/actions/prepare
      - run: pnpm build
      - run: git config user.name "${GITHUB_ACTOR}"
      - run: git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          if pnpm run should-semantic-release ; then
            pnpm release-it -VV
          fi
