name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          token: ${{ secrets.ACCESS_TOKEN }}
      - uses: ./.github/actions/prepare
      - name: Use npm for OIDC
        run: npm install -g npm@11.5.2
      - run: pnpm build
      - env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          if pnpm run should-semantic-release ; then
            pnpm release-it --verbose
          fi
